<div class="bg-gray-100 p-4">
  <% @engines.each do |engine| %>
    <div class="bg-white rounded-md p-4 mb-4">
      <p class="text-lg font-bold"><%= engine.make %></p>
      <p class="text-base"><%= engine.model %></p>
      <p class="text-sm text-gray-500"><%= engine.engine_number %></p>
    </div>
  <% end %>
</div>
