<%= search_form_for @q do |f| %>
  <section class="py-24 bg-coolGray-900">
    <div class="container px-4 mx-auto">
      <div class="relative py-16 md:py-32 px-6 text-center bg-white overflow-hidden rounded-7xl" style="background-image: url('app/assets/images/JHP_2802.JPG'); background-position: center;">
        <div class="relative z-10 mx-auto md:max-w-2xl">
          <h3 class="mb-4 text-3xl md:text-4xl leading-tight font-bold tracking-tighter">Search for your Chassis or Engine</h3>
          <p class="mb-8 text-lg md:text-xl text-coolGray-500 font-medium">Enter Chassis or Engine Number</p>
          <div class="mx-auto max-w-md text-left">
            <div class="mb-4">
              <%= f.search_field :engine_number_start, class: "w-full py-3 px-4 text-coolGray-500 leading-tight placeholder-coolGray-500 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 border border-coolGray-200 rounded-lg shadow-xsm md:max-w-xs", placeholder: "Chassis / Engine Number..." %>
            </div>
            <div>
              <%= f.submit "Search", class: "inline-block py-3 px-5 w-full leading-5 text-white bg-green-500 hover:bg-green-600 font-medium text-center focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 border border-transparent rounded-md shadow-sm" %>
            </div>
            <span class="text-xs text-coolGray-500 font-medium">
              <span>Don't find yours?</span>
              <a class="text-green-500 hover:text-green-600" href="#">Register today</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
