<div class="bg-gray-100">
  <div class="bg-blue-500 text-white py-6">
    <div class="container mx-auto px-4 flex justify-between items-center">
      <h1 class="text-2xl font-bold">About Us</h1>
      <a href="/contact" class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded-lg">Contact Us</a>
    </div>
  </div>

  <div class="container mx-auto px-4 py-8">
    <section class="my-8">
      <h2 class="text-2xl font-bold mb-4">Welcome to KartCheck</h2>
      <p class="mb-4">The goal of KartCheck is to create a digital logbook for Kart Chassis' and Engines.</p>
      <p class="mb-4">Our aim is to help reduce the resale and reuse of stolen Karting equipment by giving everyone a central point to register, search and view chassis and engine information.</p>
      <p class="mb-4">Fueled by a number of reports over the last few weeks we thought it would be great to attempt to build a platform which may help reduce the value of those items stolen and warn any potential buyers awaay from buying stolen equipment.</p>
      <p class="mb-4">With our user-friendly search functionality, you can easily look up any chassis or engine identification number and view it's "Stolen Status" and request contact details if required.</p>
      <p class="mb-4">Anyone can create an account and start adding your equipment to your garage, once your ready to sell the potential purchaser can search for it, see it's not reported as stolen and you can transfer ownership once the sale is completed.</p>
      <p class="mb-4">We hope to be able to build some affiliation with clubs in the future to be able to prevent stolen chassis's and engine's being able to registered for racing.</p>
    </section>

<div id="accordion-collapse" data-accordion="collapse" class="bg-white">
  <h2 id="accordion-collapse-heading-1">
    <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-300 dark:hover:bg-gray-800" data-accordion-target="#accordion-collapse-body-1" aria-expanded="true" aria-controls="accordion-collapse-body-1">
      <span>Does it cost anything to register or search?</span>
      <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
  </h2>
  <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
    <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
      <p class="mb-2 text-gray-500 dark:text-gray-400">Nothing at all! Not yet anyway, we may need to review our costs depending on traffic and demand but we will keep it free of charge for as long as we can!</p>
      <p class="text-gray-500 dark:text-gray-400">
        <%= link_to "Create an account", new_user_registration_path, class: "text-blue-600 dark:text-blue-500 hover:underline" %>
        and start adding all your equipment.
      </p>

    </div>
  </div>
  <h2 id="accordion-collapse-heading-2">
    <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-300 dark:hover:bg-gray-800" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
      <span>Will my data be shared without my permission?</span>
      <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
  </h2>
  <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
    <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
      <p class="mb-2 text-gray-500 dark:text-gray-400">Definitely not! As you can see from the example search results above only the basic info is viewable by a searcher they can then request more contact info but you will always be consulted first.</p>
    </div>
  </div>
  <h2 id="accordion-collapse-heading-3">
    <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-300 dark:hover:bg-gray-800" data-accordion-target="#accordion-collapse-body-3" aria-expanded="false" aria-controls="accordion-collapse-body-3">
      <span>What's the point of a digital logbook? </span>
      <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
  </h2>
  <div id="accordion-collapse-body-3" class="hidden" aria-labelledby="accordion-collapse-heading-3">
    <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
      <p class="mb-2 text-gray-500 dark:text-gray-400">The main benefit is to begin to give Chassis's some tracability which engines already have but further to this we also aim to create a central point for users to register their details against Chassis' and Engine's to remove the chance of stolen equipment being able to be sold.</p>
      <p class="mb-2 text-gray-500 dark:text-gray-400">If anyone can check the status and history of an item before sale, much like a HPI check on a car it will also prevent anyone unknowingly buying a stolen kart.</p>
      <p class="mb-2 text-gray-500 dark:text-gray-400">Try it out now...</p>
      <ul class="pl-5 text-gray-500 list-disc dark:text-gray-400">
        <li><%= link_to "Search for a Chassis'", engines_path, class: "text-blue-600 dark:text-blue-500 hover:underline" %></li>
        <li><%= link_to "Create an Account", new_user_registration_path, rel: "nofollow", class: "text-blue-600 dark:text-blue-500 hover:underline" %></li>
      </ul>

    </div>
  </div>
</div>
</div>

<div class="relative bg-gray-900 py-24 sm:py-32">
  <%= image_tag("JHP_3131.JPG", alt: "", class: "absolute inset-0 z-[-20] h-full w-full object-cover object-center opacity-20") %>

  <div class="absolute inset-0 z-[-10] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>

  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Work with us</h2>
      <p class="mt-6 text-lg leading-8 text-gray-300">Interested in working with us to create a digital database for everything karting?</p>
    </div>
    <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
      <div class="grid grid-cols-1 gap-x-8 gap-y-6 text-base font-semibold leading-7 text-white sm:grid-cols-2 md:flex lg:gap-x-10">
      </div>
      <a href="/contact" class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded-lg">Contact Us</a>
    </div>
    </div>
  </div>
</div>

